// color variables

$text-black: black;
$text-blue: #19194D;
$text-drab: #6B5A00;

$c1-dark: #161DC7;
$c1-mid: #6B81F2;
$c1-light: #BFCCFC;

$c2-dark: #C8A800;
$c2-mid: #FBD300;
$c2-light: #FFE76A;

$c3-dark: #38A0FF;
$c3-mid: #88C6FF;
$c3-light: #CBE6FF;

$c4-dark: #8300EB;
$c4-mid: #AF65EA;
$c4-light: #F2E1FF;

$c5-dark: #CD6F00;
$c5-mid: #F29958;
$c5-light: #FFEBDC;

$sand-1: #D7CDDA;
$sand-2: #EDDFDF;
$sand-3: #F4EDE8;
$sand-4: #F5F5F5;
$sand-5: #e5ebfb;
$sand-6: #e5e5fb;
// $sand-6: #d8d7fb;

$sand-7: white;

