@import 'variables';
@import 'mixins';
@import 'fonts';


body {
    background-color: $sand-6;
    font-family: $bodytext, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0rem;
    margin-left:auto;
    margin-right: auto;
    max-width: 1000px;
}

h1 {
    font-family: $h1;
}

h2 {
    font-family: $h2;

}
h3 {
    font-family: $h3;

}

h4 {
    font-family: $h4;

}

h5 {
    font-family: $h5;

}

p {
    color: $text-blue;
}

.bold {
    font-weight: bold;
}

a {
    font-family: $linktext, Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    color: $c1-dark;
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid $c5-mid;
}


a:focus {
    border-bottom: 1px solid;
    background: $c1-light;
}

a:hover {
    border-bottom: 1px solid;
    background: $c1-light;
}

a:active {
    border-bottom: none;
    background:$c1-dark;
    color:$c1-light;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:60px;

    div{
        display: flex;
    }
    
    p {
        margin: 0;
        // margin-left: 30px;
        font-family: $hdrtext;
    }

    a {
        margin-left: 30px;
        font-family: $hdrlink;
    }
}